<div class="pied-page">
	<footer>

		<!-- GRID de 4 Columns-->
		<div class="ui grid">

			<div class="four wide column">
				<div class="ui relaxed divided list">
					<div class="item"><a href="http://referenced.ca"><i class="external link alternate icon"></i>Programmation et veille technologique</a></div>
					<div class="item"><a href="http://referenced.ca"><i class="external link alternate icon"></i>Programmation et veille technologique</a></div>
					<div class="item"><a href="http://tim.cmaisonneuve.qc.ca"><i class="external link alternate icon"></i>TIM cmaisonneuve</a></div>
					<div class="item"><a href="https://www.cmaisonneuve.qc.ca/"><i class="external link alternate icon"></i>Collège de Maisonneuve</a></div>
				</div>
			</div>

			<div class="four wide column">
				<div class="ui relaxed divided list">
					<div class="item"><a href="http://referenced.ca"><i class="external link alternate icon"></i>Programmation et veille technologique</a></div>
					<div class="item"><a href="http://referenced.ca"><i class="external link alternate icon"></i>Programmation et veille technologique</a></div>
					<div class="item"><a href="http://tim.cmaisonneuve.qc.ca"><i class="external link alternate icon"></i>TIM cmaisonneuve</a></div>
					<div class="item"><a href="https://www.cmaisonneuve.qc.ca/"><i class="external link alternate icon"></i>Collège de Maisonneuve</a></div>
				</div>
			</div>

			<div class="four wide column">
				<div class="ui relaxed divided list">
					<div class="item"><a href="https://nodejs.org/fr/"><i class="external link alternate icon"></i>Le site officiel de Node.js</a></div>
					<div class="item"><a href="https://nodejs.org/en/foundation/"><i class="external link alternate icon"></i>Fondation Node.js</a></div>
					<div class="item"><a href="https://www.linuxfoundation.org/projects/"><i class="external link alternate icon"></i>Fondation Linux</a></div>
					<div class="item"><a href="https://www.cmaisonneuve.qc.ca/"><i class="external link alternate icon"></i>Collège de Maisonneuve</a></div>
				</div>
			</div>

			<div class="four wide column">
				<div class="ui relaxed divided list">
					<div class="item"><a href="https://www.mongodb.com/"><i class="external link alternate icon"></i>SGBD noSQL mongoDB</a></div>
					<div class="item"><a href="https://www.mongodb.com/download-center?jmp=nav#community"><i class="external link alternate icon"></i>Télécharger mongoDB</a></div>
					<div class="item"><a href="https://docs.npmjs.com/how-npm-works/packages"><i class="external link alternate icon"></i>NPM</a></div>
					<div class="item"><a href="https://www.cmaisonneuve.qc.ca/"><i class="external link alternate icon"></i>Collège de Maisonneuve</a></div>
				</div>
			</div>

		</div> <!-- Fin Grid -->

		<div class="copyright">
			<h5>Aaron Orellana - Tous les droit réservés © 2018</h5>
		</div>

		<!-- SCRIPTS -->
		 <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
		 <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.0/semantic.min.js"></script>
	</footer>
</div>