<div id="formModifAjout">
    <h6 class="ui horizontal divider header">
            <i class="address book icon"></i>
            Ajouter un Contact
    </h6>
    
    <form class="formulaire ui form" action="/ajouter" method="POST">
        <input type="text" placeholder="<%= __('nom')%>" name="nom" id='nom'>
        <input type="text" placeholder="<%= __('prenom')%>" name="prenom" id='prenom'>
        <input type="text" placeholder="<%= __('tel')%>" name="telephone" id='telephone'>
        <input type="text" placeholder="<%= __('courriel')%>" name="courriel" id='courriel'>

        <button class="ui basic button" type="submit">
            <i class="user plus icon"></i>
            <%= __('ajouter')%>
        </button>
    </form>
    
    <br>
    
    <h6 class="ui horizontal divider header">
            <i class="tag icon"></i>
            Formulaire de Modification
    </h6>
        
    <form class="formulaire ui form" name="frmUpdate" id="frmUpdate" action="/modifier" method="post">
        <input  type="text" placeholder="_id" name="_id" id='_id'>
        <input type="text" placeholder="<%= __('nom')%>" name="nom" id='nom'>
        <input type="text" placeholder="<%= __('prenom')%>" name="prenom" id='prenom'>
        <input type="text" placeholder="<%= __('tel')%>" name="telephone" id='telephone'>
        <input type="text" placeholder="<%= __('courriel')%>" name="courriel" id='courriel'>

        <button class="ui basic button" type="submit">
                <i class="save icon"></i>
                <%= __('modifier')%>
            </button>
    </form>
</div>