<div class="principal">
    <div class="ui vertically divided grid">
        <div class="two column row">
            <div class="ten wide column">
                <%- include('tableau') %>
            </div>
    
            <div class="six wide column">
                <%- include('form') %>
            </div>
        </div> 
    </div>
</div>

