<div id="navPrincipale" class="ui secondary menu">

    
    <div class="item">
        <img src="/images/logo.jpg">
    </div>

    <a href='/' class="item"><i class="home icon"></i><%= __('accueil')%></a>
    <a href='/vider' class="item"><i class="eraser icon"></i><%= __('vider')%></a>
    <a href='/adresse' class="item"><i class="address card icon"></i><%= __('adresse')%></a>
    <a href='/chat' class="item"><i class="comments icon"></i></i><%= __('chat')%></a>

    <div class="right menu">

      <div class="item">

        <div class="recherche ui icon input" action='/adresse' name="recherche" id="recherche">
          <input type="text" placeholder="Recherche" name="recherche" 
          value="<%= (typeof recherche == 'undefined')? '' : recherche %>">
          <i class="search link icon"></i>
        </div>

      </div>
      
        <% if(getLocale() == 'fr') {%>
            <a href='/en' class="ui item"><i class="language icon"></i>EN</a>
        <%} else {%>
            <a href='/fr' class="ui item"><i class="language icon"></i>FR</a>
        <%}%>

    </div>

</div>