<div class="principal">

    <h2 id="titreChat"><i class="comments icon"></i><%= __('chat')%></h2>

    <section id="enregistrement">

        <div class="ui vertically divided grid">

                <div class="two column row">

                    <!-- Premiere Column -->
                    <div class="twelve wide column">

                        <p>
                            Afin que le chat soit et reste un lieu convivial pour tous, les utilisateurs du réseau sont soumis à un certain nombre de règles de vie en communauté. 
                            <br>
                            <br>
                            Ne sont pas tolérés :
                        </p>

                        <div class="ui bulleted list">
                                <div class="item">Les insultes, les propos vulgaires, diffamatoires, fascistes ou racistes</div>
                                <div class="item">Les majuscules signifient que vous criez, elles sont donc à éviter sur les canaux publics</div>
                                <div class="item">Les noms de salons, descriptifs de salons et les pseudos offensants.</div>
                                <div class="item">Le SPAM (publicité non sollicitée)</div>
                        </div>

                    </div> <!-- Fin Premiere Column -->
            
                    <!-- Deuxieme Column -->
                    <div id="logInput" class="four wide column">

                        <div class="ui input">
                                <input type="text" placeholder="Nom">
                        </div>
                
                        <button id="btnChatReg" class="ui basic button" onclick="enregistrement()">
                            <i class="user plus icon"></i>
                            <%= __('enregistrement')%>
                        </button>

                    </div> <!-- Fin Deuxieme Column -->

                </div> <!-- Fin Two Column Row -->

        </div> <!-- Fin Grid Vertacaly -->

    </section>
    
    <section id="chat" style='display: none'>

        <div class="ui vertically divided grid">
            <div class="two column row">

                <div class="four wide column">

                    <!-- Titre divider -->
                    <h6 class="ui horizontal divider header">
                            <i class="address card icon"></i>
                            Utilisateurs Connectés :
                    </h6>

                    <!-- Tableau dynamique -->
                    <table id="list_user"></table>
                </div>
        
                <div class="twelve wide column">
                     <!-- Titre divider -->
                     <h6 class="ui horizontal divider header">
                            <i class="comment alternate icon"></i>
                            Messages :
                    </h6>

                    <table id="message"></table>
                    
                    <section id="message_a_transmettre">
            
                        <textarea id="textMessage" name="txtMessage"></textarea>
            
                        <button class="ui basic button" onclick="transmettre_un_message()">
                            <i class="paper plane icon"></i>
                            <%= __('transmettre')%>
                        </button>
                    </section>
                </div>

            </div> 
        </div>

    </section>
</div>


<script type="text/javascript">
 /* 
Pour établir une communication socket il faut un premier appel de
 la fonction io()
 Cette fonction est incluse dans la librairie socket.io. 
 Cette fonction déclenche un événement connect vers le serveur
 */
 let socket;

 window.onload = ()=>{
    socket = io()
    
    ////////////////////////////////////////////////////////////////////////////
    socket.on('connect', function(){
        console.log('Le socket id = ' + socket.id);

        ///////////////////////////////////////////////////////////////////////////
        socket.on('valide_user',function(data){
            let elmEnregistrement = document.getElementById('enregistrement');
            elmEnregistrement.style.display = 'none'
            let elmChat = document.getElementById('chat')
            elmChat.style.display = 'flex';
        })

        ////////////////////////////////////////////////////////////////////////// diffuser_list_user
        socket.on('diffuser_list_user',function(data){
            console.log('diffuser_list_user' + data)
            affiche_table_users(data);
        })

        ////////////////////////////////////////////////////////////////////////// valide_message
        socket.on('valide_message',function(data){
            console.log('valide_message' + data)
            affiche_mon_message(data, 'blue');
        })

        ////////////////////////////////////////////////////////////////////////// diffuser_message
        socket.on('diffuser_message',function(data){
            console.log('diffuser_message' + data)
            affiche_mon_message(data, 'green');
        })

    });
}
/* ---------------------------------------------------------- */
 function enregistrement(){
    var elmUser = document.querySelector('#enregistrement input')
    console.log(elmUser.value)
    /* l'événement « setUser » est transmit avec un objet */
    socket.emit('setUser', {user : elmUser.value})
 }

////////////////////////////////// TRANSMETTRE UN MESSAGE

function transmettre_un_message(){
    var elmMessage = document.querySelector('#message_a_transmettre textarea')
    console.log(elmMessage.value)
    
    /* l'événement « setMessage » est transmit avec un objet */
    socket.emit('setMessage', {message : elmMessage.value})
 }

 ////////////////////////////////////////////////////// afficher tableau users
function affiche_table_users(data) {
    let sChaine = '';

            for(id in data)
            {
                sChaine +='<tr>'
                            + '<td><i id"onlineUser" class="user circle icon"></i>' + id + '</td>'
                            + '<td>' + data[id] + '</td>'
                        + '</tr>'
            }
            let elmListUser = document.getElementById('list_user')
            elmListUser.innerHTML = sChaine;
}

 ////////////////////////////////////////////////////// afficher messages
 function affiche_mon_message(data, couleur) {

    let sChaine = ''

    sChaine += '<td class="ui '+ couleur +' message"><i class="comment icon"></i>' + data.user +  '</td>'
             + '<td class="ui small message">' + data.message + '</td>'
    
    let elmTr = document.createElement('tr')
    elmTr.innerHTML = sChaine

    let elmTableMessage = document.getElementById('message')
    elmTableMessage.appendChild(elmTr)
}
</script>