<%
    let objOrdre = {
        _id : 'asc',
        nom : 'asc',        
        prenom : 'asc',
        telephone : 'asc',
        courriel : 'asc'
    }
    
    if (typeof cle !== 'undefined'  && cle)
        {
            objOrdre[cle] = ordre
        }
%>

<h6 class="ui horizontal divider header">
        <i class="address card icon"></i>
        Toutes les Adresses
</h6>

<table class="tableau ui very basic collapsing celled table">
    <tr>
        <th><a href="/trier/_id/<%= objOrdre._id %>">_id<i class="<%= (objOrdre._id=='asc'?'chevron up icon': 'chevron down icon') %>"></i></a></th>
        <th><a href="/trier/nom/<%= objOrdre.nom %>"><%= __('nom')%><i class="<%= (objOrdre.nom=='asc'?'chevron up icon': 'chevron down icon') %>"></i></a></th>
        <th><a href="/trier/prenom/<%= objOrdre.prenom %>"><%= __('prenom')%><i class="<%= (objOrdre.prenom=='asc'?'chevron up icon': 'chevron down icon') %>"></i></a></th>        
        <th><a href="/trier/telephone/<%= objOrdre.telephone %>"><%= __('tel')%><i class="<%= (objOrdre.telephone=='asc'?'chevron up icon': 'chevron down icon') %>"></i></a></th>  
        <th><a href="/trier/courriel/<%= objOrdre.courriel %>"><%= __('courriel')%><i class="<%= (objOrdre.courriel=='asc'?'chevron up icon': 'chevron down icon') %>"></i></a></th>      
    </tr>
    <%  for (elm of adresses) {%>
    <tr>
        <td><%= elm._id %></td>
        <td contenteditable='true'><%= elm.nom %></td>
        <td contenteditable='true'><%= elm.prenom %></td>
        <td contenteditable='true'><%= elm.telephone %></td>                
        <td contenteditable='true'><%= elm.courriel %></td>    
        <td><a class="detruire" href="/detruire/<%= elm._id %>"><i class="trash alternate icon"></i></a></td>
        <td><a class='modifier' href="#"><i class="save icon"></i></a></td>
    </tr>
    <% } %>
</table>

<script type="text/javascript">
    (function(){
        // dans notre fichier .ejs
        // Notre code JavaScript pour effectuer un transfert AJAX
        // let elmBouton = document.getElementById('testAJAX')
        // elmBouton.addEventListener('click', ()=>{
        //     console.log('ok')
        //     xhr = new XMLHttpRequest();
        //     xhr.open('POST', "ajax_modifier", true);
        //     data = {
        //     "nom" : "AAAA",
        //     "prenom" : "BBBB",
        //     "telephone" : "CCCC",
        //     "_id" : "5a9993f2ceafb71d108010ef"
        //     }
        //     console.log(data)
        //     sData = JSON.stringify(data);
        //     xhr.setRequestHeader('Content-type', 'application/json');
        //     xhr.send(sData);
        //     xhr.addEventListener("readystatechange", traiterRequest, false);
        // })
        ////////////////////////////////////////////////////////////
        // Pour traiter le résultat transmis par l'application serveur 
        function traiterRequest(e) {
            var id = 0;
            console.log("xhr.readyState = " + xhr.readyState)
            console.log("xhr.status = " + xhr.status)
            if(xhr.readyState == 4 && xhr.status == 200)
            {
                console.log('ajax fonctionne')
                let  maReponse = JSON.parse(xhr.responseText);
                console.log(xhr.responseText);
                console.log(maReponse._id)
                id = maReponse._id;
            }
            return id;
        }
    })()
</script>

<script type="text/javascript">
    let elmModifier = document.querySelectorAll('.modifier')
    console.log(elmModifier.length)
    for (elm of elmModifier) {
        elm.addEventListener('click', function(e){
            e.preventDefault();
            console.log(this.parentElement.parentElement.id)
            let elmTr = this.parentElement.parentElement 
            let _id = elmTr.querySelector('td:nth-child(1)').innerHTML
            let nom = elmTr.querySelector('td:nth-child(2)').innerHTML
            let prenom = elmTr.querySelector('td:nth-child(3)').innerHTML
            let telephone = elmTr.querySelector('td:nth-child(4)').innerHTML
            let courriel = elmTr.querySelector('td:nth-child(5)').innerHTML
            console.log('ok')
            xhr = new XMLHttpRequest();
            xhr.open('POST', "ajax_modifier", true);
            data = {
            "_id" : _id,
            "nom" : nom,
            "prenom" : prenom,
            "telephone" : telephone,
            "courriel" : courriel
            }
            console.log(data)
            sData = JSON.stringify(data);
            xhr.setRequestHeader('Content-type', 'application/json');
            xhr.send(sData);
            var identifiant = xhr.addEventListener("readystatechange", traiterRequest, false);
        })
    }
    let elmDetruire = document.querySelectorAll('.detruire')
    console.log(elmDetruire.length)
    for (elm of elmDetruire) {
        elm.addEventListener('click', function(e){
            e.preventDefault();
            console.log(this.parentElement.parentElement.id)
            let elmTr = this.parentElement.parentElement 
            let _id = elmTr.querySelector('td:nth-child(1)').innerHTML
            console.log("Identifiant depart : " + _id);
            console.log('ok')
            xhr = new XMLHttpRequest();
            xhr.open('POST', "ajax_detruire", true);
            data = {
            "_id" : _id
            }
            console.log(data)
            sData = JSON.stringify(data);
            xhr.setRequestHeader('Content-type', 'application/json');
            xhr.send(sData);
            var identifiant = xhr.addEventListener("readystatechange", traiterRequest, false);
            if(identifiant != 0) {
                elmTr.parentNode.removeChild(elmTr);
            }
        })
    }
    let elmAjouter = document.querySelector('.ajouter');
    elmAjouter.addEventListener('click', function(e){
        e.preventDefault();
        xhr = new XMLHttpRequest();
        xhr.open('POST', "ajax_ajouter", true);
        data = {
            "nom" : "",
            "prenom" : "",
            "telephone" : "",
            "courriel" : ""
        }
        console.log(data)
        sData = JSON.stringify(data);
        xhr.setRequestHeader('Content-type', 'application/json');
        xhr.send(sData);
        xhr.addEventListener("readystatechange", function(){
            let identifiant = traiterRequest();
            console.log("identifiant :" + identifiant);
            if(identifiant != 0) {
                let tableau = document.querySelector('.tableau tbody');
                let rangee = document.createElement("TR");
                rangee.innerHTML = '<td></td><td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td><td><a class="detruire" href="#"><svg class="svg-inline--fa fa-trash-alt fa-w-14" aria-hidden="true" data-prefix="fas" data-icon="trash-alt" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M0 84V56c0-13.3 10.7-24 24-24h112l9.4-18.7c4-8.2 12.3-13.3 21.4-13.3h114.3c9.1 0 17.4 5.1 21.5 13.3L312 32h112c13.3 0 24 10.7 24 24v28c0 6.6-5.4 12-12 12H12C5.4 96 0 90.6 0 84zm416 56v324c0 26.5-21.5 48-48 48H80c-26.5 0-48-21.5-48-48V140c0-6.6 5.4-12 12-12h360c6.6 0 12 5.4 12 12zm-272 68c0-8.8-7.2-16-16-16s-16 7.2-16 16v224c0 8.8 7.2 16 16 16s16-7.2 16-16V208zm96 0c0-8.8-7.2-16-16-16s-16 7.2-16 16v224c0 8.8 7.2 16 16 16s16-7.2 16-16V208zm96 0c0-8.8-7.2-16-16-16s-16 7.2-16 16v224c0 8.8 7.2 16 16 16s16-7.2 16-16V208z"></path></svg><!-- <i class="fas fa-trash-alt" aria-hidden="true"></i> --></a></td><td><a class="modifier" href="#"><svg class="svg-inline--fa fa-save fa-w-14" aria-hidden="true" data-prefix="far" data-icon="save" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M433.941 129.941l-83.882-83.882A48 48 0 0 0 316.118 32H48C21.49 32 0 53.49 0 80v352c0 26.51 21.49 48 48 48h352c26.51 0 48-21.49 48-48V163.882a48 48 0 0 0-14.059-33.941zM272 80v80H144V80h128zm122 352H54a6 6 0 0 1-6-6V86a6 6 0 0 1 6-6h42v104c0 13.255 10.745 24 24 24h176c13.255 0 24-10.745 24-24V83.882l78.243 78.243a6 6 0 0 1 1.757 4.243V426a6 6 0 0 1-6 6zM224 232c-48.523 0-88 39.477-88 88s39.477 88 88 88 88-39.477 88-88-39.477-88-88-88zm0 128c-22.056 0-40-17.944-40-40s17.944-40 40-40 40 17.944 40 40-17.944 40-40 40z"></path></svg><!-- <i class="far fa-save" aria-hidden="true"></i> --></a></td>'
                tableau.appendChild(rangee);
                let derniereRangee = document.querySelector('.tableau tbody tr:last-child');
                derniereRangee.children[0].innerHTML = identifiant;
                let elmModifier = document.querySelector('.tableau tbody tr:last-child .modifier');
                elmModifier.addEventListener('click', function(){
                    console.log(this.parentElement.parentElement.id)
                    let elmTr = this.parentElement.parentElement 
                    let _id = elmTr.querySelector('td:nth-child(1)').innerHTML
                    let nom = elmTr.querySelector('td:nth-child(2)').innerHTML
                    let prenom = elmTr.querySelector('td:nth-child(3)').innerHTML
                    let telephone = elmTr.querySelector('td:nth-child(4)').innerHTML
                    let courriel = elmTr.querySelector('td:nth-child(5)').innerHTML
                    console.log('ok')
                    xhr = new XMLHttpRequest();
                    xhr.open('POST', "ajax_modifier", true);
                    data = {
                    "_id" : _id,
                    "nom" : nom,
                    "prenom" : prenom,
                    "telephone" : telephone,
                    "courriel" : courriel
                    }
                    console.log(data)
                    sData = JSON.stringify(data);
                    xhr.setRequestHeader('Content-type', 'application/json');
                    xhr.send(sData);
                    var identifiant = xhr.addEventListener("readystatechange", traiterRequest, false);
                })
                let elmSupprimer = document.querySelector('.tableau tbody tr:last-child .detruire');
                elmSupprimer.addEventListener('click', function(){
                    console.log(this.parentElement.parentElement.id)
                    let elmTr = this.parentElement.parentElement 
                    let _id = elmTr.querySelector('td:nth-child(1)').innerHTML
                    console.log('ok')
                    xhr = new XMLHttpRequest();
                    xhr.open('POST', "ajax_detruire", true);
                    data = {
                    "_id" : _id
                    }
                    console.log(data)
                    sData = JSON.stringify(data);
                    xhr.setRequestHeader('Content-type', 'application/json');
                    xhr.send(sData);
                    var identifiant = xhr.addEventListener("readystatechange", traiterRequest, false);
                    if(identifiant != 0) {
                        elmTr.parentNode.removeChild(elmTr);
                    }
                })
            }
        }, false);      
    });
    function traiterRequest(e) {
            var id = 0;
            console.log("xhr.readyState = " + xhr.readyState)
            console.log("xhr.status = " + xhr.status)
            if(xhr.readyState == 4 && xhr.status == 200)
            {
                console.log('ajax fonctionne')
                let  maReponse = JSON.parse(xhr.responseText);
                console.log(xhr.responseText);
                console.log(maReponse._id)
                id = maReponse._id;
            }
            return id;
        }
</script>