#titreChat {
  color: white;
  margin-bottom: 40px;
  background-color: #fbbd08;
  height: 50px;
  padding: 10px;
}
#titreChat i {
  color: white;
  margin-right: 15px;
}
#message_a_transmettre {
  margin-top: 20px;
  border-radius: 7px;
  border: solid 2px #fbbd08;
  padding: 10px;
  height: 60px;
}
#message_a_transmettre button {
  float: right;
}
#textMessage {
  width: 80%;
  resize: none;
}
#btnChatReg {
  margin-top: 10px;
}
#logInput {
  border-left: solid 1px #fbbd08;
  margin-left: -21px;
  padding-left: 21px;
}
#logInput input {
  width: 285px;
}
