.pied-page {
  margin: 15px;
  padding-top: 30px;
  border-top: #f2b635 1px solid;
}
.pied-page .copyright {
  margin-top: 30px;
  padding: 10px;
  color: white;
  background-color: #f2b635;
  width: auto;
}
