.principal {
  margin: 20px;
  padding-top: 20px;
  padding-bottom: 5px;
}
i {
  color: #f2b635;
}
th {
  color: #f2b635;
  padding-left: 10px;
}
#formModifAjout i {
  color: #f2b635;
}
#formModifAjout button {
  margin-top: 10px;
}
#formModifAjout input {
  margin-bottom: 5px;
}
